In [1]:
# Liam Fruzyna
# MATH 4630
# Final Project

# Data from Sean Lahman's Baseball Database
# http://www.seanlahman.com/baseball-archive/statistics/

In [2]:
# imports
import pandas as pd
import random as rd
from statistics import mean

In [3]:
# function for improved logging
printLogs = False
def log(*objs, force=False):
    if force or printLogs:
        strs = []
        for obj in objs:
            strs.append(str(obj))
        print(' '.join(strs))

In [4]:
# read in and format batting data
b = pd.read_csv('Batting.csv')
b = b[b['yearID'] == 1968]
b['1B'] = b['H'] - b['2B'] - b['3B'] - b['HR']
b['O'] = b['AB'] - (b['H'] + b['SO'])
b['PA'] = b['AB'] + b['BB']
b = b[['playerID', 'teamID', 'lgID', 'PA', 'H', '1B', '2B', '3B', 'HR', 'BB', 'SO', 'O']]
b.head()

,playerID,teamID,lgID,PA,H,1B,2B,3B,HR,BB,SO,O
46520,aaronha01,ATL,NL,670.0,174.0,108.0,33.0,4.0,29.0,64.0,62.0,370.0
46521,aaronto01,ATL,NL,304.0,69.0,55.0,10.0,3.0,1.0,21.0,37.0,177.0
46522,abernte02,CIN,NL,20.0,0.0,0.0,0.0,0.0,0.0,3.0,12.0,5.0
46523,adairje01,BOS,AL,217.0,45.0,42.0,1.0,0.0,2.0,9.0,28.0,135.0
46524,adamsmi01,BAL,AL,3.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0

In [5]:
# convert batting data to percentages
bp = b.copy()
bp['H'] = b['H'] / b['PA']
bp['BB'] = b['BB'] / b['PA']
bp['SO'] = b['SO'] / b['PA']
bp['O'] = b['O'] / b['PA']
bp['1B'] = b['1B'] / b['PA']
bp['2B'] = b['2B'] / b['PA']
bp['3B'] = b['3B'] / b['PA']
bp['HR'] = b['HR'] / b['PA']
bp.head()

,playerID,teamID,lgID,PA,H,1B,2B,3B,HR,BB,SO,O
46520,aaronha01,ATL,NL,670.0,0.259701,0.161194,0.049254,0.005970,0.043284,0.095522,0.092537,0.552239
46521,aaronto01,ATL,NL,304.0,0.226974,0.180921,0.032895,0.009868,0.003289,0.069079,0.121711,0.582237
46522,abernte02,CIN,NL,20.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.150000,0.600000,0.250000
46523,adairje01,BOS,AL,217.0,0.207373,0.193548,0.004608,0.000000,0.009217,0.041475,0.129032,0.622120
46524,adamsmi01,BAL,AL,3.0,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000

In [6]:
# read in and format pitching data
p = pd.read_csv('Pitching.csv')
p = p[p['yearID'] == 1968]
p['O'] = p['BFP'] - (p['H'] + p['BB'] + p['SO'])
p = p[['playerID', 'teamID', 'lgID', 'BFP', 'H', 'HR', 'BB', 'SO', 'O']]
p.head()

        playerID teamID lgID    BFP    H  HR  BB   SO      O
18474  abernte02    CIN   NL  562.0  111   9  55   64  332.0
18475  adamsmi01    BAL   AL   36.0    9   2   4    4   19.0
18476  aguirha01    LAN   NL  167.0   32   0  13   25   97.0
18477   akerja01    OAK   AL  330.0   72   6  33   44  181.0
18478  arrigge01    CIN   NL  853.0  181  13  77  140  455.0

In [7]:
# convert pitching data to percentages
pp = p.copy()
pp['H'] = p['H'] / p['BFP']
pp['BB'] = p['BB'] / p['BFP']
pp['SO'] = p['SO'] / p['BFP']
pp['O'] = p['O'] / p['BFP']
pp['HR'] = p['HR'] / p['BFP']
pp.head()

,playerID,teamID,lgID,BFP,H,HR,BB,SO,O
18474,abernte02,CIN,NL,562.0,0.197509,0.016014,0.097865,0.113879,0.590747
18475,adamsmi01,BAL,AL,36.0,0.250000,0.055556,0.111111,0.111111,0.527778
18476,aguirha01,LAN,NL,167.0,0.191617,0.000000,0.077844,0.149701,0.580838
18477,akerja01,OAK,AL,330.0,0.218182,0.018182,0.100000,0.133333,0.548485
18478,arrigge01,CIN,NL,853.0,0.212192,0.015240,0.090270,0.164127,0.533411

In [8]:
# get a list of teams and franchise info
teamIds = b['teamID'].unique()
teamIds

array(['ATL', 'CIN', 'BOS', 'BAL', 'HOU', 'NYN', 'LAN', 'OAK', 'WS2',
       'PHI', 'PIT', 'MIN', 'CHA', 'SFN', 'CLE', 'NYA', 'CHN', 'CAL',
       'SLN', 'DET'], dtype=object)

In [9]:
# build a roster of 8 batters and a pitcher for each team
teams = {}
for team in teamIds:
    # find single most used pitched (batters faced)
    pitchers = pp[pp['teamID'] == team]
    pitcher = pitchers.nlargest(1, columns=['BFP']).iloc[0]
    teams[team + '-pitcher'] = pitcher
    # find top 8 most used batters (at bats), plus pitcher
    batters = bp[bp['teamID'] == team]
    pitcherBat = batters[batters['playerID'] == pitcher['playerID']]
    teams[team + '-batters'] = batters.nlargest(8, columns=['PA']).append(pitcherBat)
teams

{'ATL-pitcher': playerID    niekrph01
 teamID            ATL
 lgID               NL
 BFP              1019
 H            0.223749
 HR          0.0157017
 BB          0.0441609
 SO            0.13739
 O            0.594701
 Name: 18667, dtype: object,
 'ATL-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 46536   aloufe01    ATL   NL  710.0  0.295775  0.221127  0.052113  0.007042
 46520  aaronha01    ATL   NL  670.0  0.259701  0.161194  0.049254  0.005970
 46957  millafe01    ATL   NL  592.0  0.278716  0.236486  0.037162  0.003378
 47170  torrejo01    ATL   NL  458.0  0.251092  0.200873  0.024017  0.004367
 46721  francti01    ATL   NL  397.0  0.249370  0.209068  0.032746  0.002519
 46913  martima01    ATL   NL  385.0  0.212987  0.192208  0.012987  0.007792
 46822  jacksso01    ATL   NL  383.0  0.211488  0.182768  0.020888  0.005222
 46834  johnsde01    ATL   NL  377.0  0.188329  0.135279  0.029178  0.002653
 46989  niekrph01    ATL   NL   77.0  0.103896  0.064935  0.012987  0.000000

              HR        BB        SO         O
 46536  0.015493  0.067606  0.078873  0.557746
 46520  0.043284  0.095522  0.092537  0.552239
 46957  0.001689  0.037162  0.043919  0.640203
 47170  0.021834  0.074236  0.157205  0.517467
 46721  0.005038  0.128463  0.113350  0.508816
 46913  0.000000  0.075325  0.072727  0.638961
 46822  0.002611  0.065274  0.091384  0.631854
 46834  0.021220  0.092838  0.209549  0.509284
 46989  0.025974  0.000000  0.285714  0.610390  ,
 'CIN-pitcher': playerID     culvege01
 teamID             CIN
 lgID                NL
 BFP                980
 H             0.233673
 HR          0.00816327
 BB           0.0857143
 SO            0.116327
 O             0.564286
 Name: 18527, dtype: object,
 'CIN-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 47083   rosepe01    CIN   NL  682.0  0.307918  0.222874  0.061584  0.008798
 47019  perezto01    CIN   NL  676.0  0.260355  0.186391  0.036982  0.010355
 46830  johnsal01    CIN   NL  629.0  0.298887  0.235294  0.050874  0.009539
 46565  benchjo01    CIN   NL  595.0  0.260504  0.164706  0.067227  0.003361
 46923    mayle01    CIN   NL  593.0  0.273187  0.180438  0.053963  0.001686
 47032  pinsova01    CIN   NL  531.0  0.254237  0.178908  0.054614  0.011299
 46781  helmsto01    CIN   NL  519.0  0.281310  0.219653  0.053950  0.003854
 46622  cardele01    CIN   NL  488.0  0.217213  0.172131  0.026639  0.004098
 46668  culvege01    CIN   NL   69.0  0.115942  0.101449  0.014493  0.000000

              HR        BB        SO         O
 47083  0.014663  0.082111  0.111437  0.498534
 47019  0.026627  0.075444  0.136095  0.528107
 46830  0.003180  0.041335  0.112878  0.546900
 46565  0.025210  0.052101  0.161345  0.526050
 46923  0.037099  0.057336  0.168634  0.500843
 47032  0.009416  0.060264  0.111111  0.574388
 46781  0.003854  0.023121  0.052023  0.643545
 46622  0.014344  0.073770  0.170082  0.538934
 46668  0.000000  0.043478  0.347826  0.492754  ,
 'BOS-pitcher': playerID     culpra01
 teamID            BOS
 lgID               AL
 BFP               888
 H            0.186937
 HR          0.0202703
 BB          0.0923423
 SO           0.213964
 O            0.506757
 Name: 18526, dtype: object,
 'BOS-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 47233  yastrca01    BOS   AL  658.0  0.246201  0.159574  0.048632  0.003040
 47125  smithre06    BOS   AL  622.0  0.237942  0.146302  0.059486  0.008039
 46543  andremi01    BOS   AL  617.0  0.235008  0.186386  0.035656  0.001621
 46770  harreke01    BOS   AL  604.0  0.243377  0.150662  0.028146  0.006623
 46720    foyjo01    BOS   AL  599.0  0.193656  0.143573  0.030050  0.003339
 47026  petrori01    BOS   AL  437.0  0.217391  0.146453  0.038902  0.004577
 47104  scottge02    BOS   AL  376.0  0.159574  0.114362  0.037234  0.000000
 46844  jonesda03    BOS   AL  371.0  0.223720  0.175202  0.035040  0.000000
 46667   culpra01    BOS   AL   73.0  0.109589  0.095890  0.013699  0.000000

              HR        BB        SO         O
 47233  0.034954  0.180851  0.136778  0.436170
 47125  0.024116  0.102894  0.123794  0.535370
 46543  0.011345  0.131280  0.092382  0.541329
 46770  0.057947  0.114238  0.149007  0.493377
 46720  0.016694  0.140234  0.151920  0.514190
 47026  0.027460  0.070938  0.167048  0.544622
 47104  0.007979  0.069149  0.234043  0.537234
 46844  0.013477  0.045822  0.142857  0.587601
 46667  0.000000  0.041096  0.520548  0.328767  ,
 'BAL-pitcher': playerID    mcnalda01
 teamID            BAL
 lgID               AL
 BFP              1038
 H            0.168593
 HR          0.0231214
 BB          0.0529865
 SO           0.194605
 O            0.583815
 Name: 18645, dtype: object,
 'BAL-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 47064  robinbr01    BAL   AL  652.0  0.236196  0.145706  0.055215  0.009202
 47037  powelbo01    BAL   AL  623.0  0.219904  0.149278  0.033708  0.001605
 46833  johnsda02    BAL   AL  548.0  0.222628  0.155109  0.043796  0.007299
 46574  blefacu01    BAL   AL  516.0  0.174419  0.127907  0.015504  0.001938
 46563  belanma01    BAL   AL  512.0  0.191406  0.162109  0.025391  0.000000
 47067  robinfr02    BAL   AL  494.0  0.228745  0.141700  0.054656  0.002024
 46610  bufordo01    BAL   AL  483.0  0.248447  0.182195  0.026915  0.008282
 46571  blairpa01    BAL   AL  458.0  0.194323  0.128821  0.048035  0.002183
 46946  mcnalda01    BAL   AL   95.0  0.115789  0.073684  0.010526  0.000000

              HR        BB        SO         O
 47064  0.026074  0.067485  0.084356  0.611963
 47037  0.035313  0.117175  0.155698  0.507223
 46833  0.016423  0.080292  0.145985  0.551095
 46574  0.029070  0.125969  0.127907  0.571705
 46563  0.003906  0.078125  0.222656  0.507812
 47067  0.030364  0.147773  0.170040  0.453441
 46610  0.031056  0.118012  0.095238  0.538302
 46571  0.015284  0.080786  0.131004  0.593886
 46946  0.031579  0.094737  0.484211  0.305263  ,
 'HOU-pitcher': playerID    giustda01
 teamID            HOU
 lgID               NL
 BFP              1031
 H            0.219205
 HR           0.014549
 BB          0.0649855
 SO           0.180407
 O            0.535403
 Name: 18558, dtype: object,
 'HOU-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 47140  staubru01    HOU   NL  664.0  0.259036  0.192771  0.055723  0.001506
 47232   wynnji01    HOU   NL  632.0  0.231013  0.145570  0.036392  0.007911
 46950  menkede01    HOU   NL  606.0  0.222772  0.165017  0.037954  0.009901
 47169  torrehe01    HOU   NL  484.0  0.214876  0.188017  0.022727  0.002066
 46547  asprobo01    HOU   NL  444.0  0.207207  0.180180  0.020270  0.004505
 46558  batemjo01    HOU   NL  373.0  0.233244  0.171582  0.050938  0.000000
 47043  raderdo02    HOU   NL  364.0  0.244505  0.173077  0.043956  0.010989
 46959  milleno01    HOU   NL  279.0  0.218638  0.125448  0.064516  0.007168
 46739  giustda01    HOU   NL   83.0  0.180723  0.168675  0.012048  0.000000

              HR        BB        SO         O
 47140  0.009036  0.109940  0.085843  0.545181
 47232  0.041139  0.142405  0.207278  0.419304
 46950  0.009901  0.105611  0.133663  0.537954
 47169  0.002066  0.037190  0.132231  0.615702
 46547  0.002252  0.078829  0.128378  0.585586
 46558  0.010724  0.061662  0.123324  0.581769
 47043  0.016484  0.085165  0.140110  0.530220
 46959  0.021505  0.078853  0.172043  0.530466
 46739  0.000000  0.012048  0.204819  0.602410  ,
 'NYN-pitcher': playerID    seaveto01
 teamID            NYN
 lgID               NL
 BFP              1088
 H            0.205882
 HR          0.0137868
 BB          0.0441176
 SO           0.188419
 O            0.561581
 Name: 18722, dtype: object,
 'NYN-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 46842  jonescl01    NYN   NL  540.0  0.279630  0.192593  0.053704  0.007407
 47154  swoboro01    NYN   NL  502.0  0.217131  0.155378  0.027888  0.011952
 46750  groteje01    NYN   NL  448.0  0.254464  0.207589  0.040179  0.000000
 46769  harrebu01    NYN   NL  431.0  0.204176  0.180974  0.016241  0.006961
 46637  charled01    NYN   NL  397.0  0.256927  0.188917  0.027708  0.002519
 46874  kraneed01    NYN   NL  392.0  0.219388  0.176020  0.033163  0.002551
 46526   ageeto01    NYN   NL  383.0  0.208877  0.156658  0.031332  0.007833
 47108  shamsar01    NYN   NL  366.0  0.224044  0.142077  0.038251  0.010929
 47105  seaveto01    NYN   NL   98.0  0.153061  0.132653  0.020408  0.000000

              HR        BB        SO         O
 46842  0.025926  0.057407  0.181481  0.481481
 47154  0.021912  0.103586  0.225100  0.454183
 46750  0.006696  0.098214  0.180804  0.466518
 46769  0.000000  0.067285  0.157773  0.570766
 46637  0.037783  0.070529  0.143577  0.528967
 46874  0.007653  0.048469  0.099490  0.632653
 46526  0.013055  0.039164  0.268930  0.483029
 47108  0.032787  0.057377  0.158470  0.560109
 47105  0.000000  0.030612  0.448980  0.367347  ,
 'LAN-pitcher': playerID    singebi01
 teamID            LAN
 lgID               NL
 BFP              1061
 H            0.213949
 HR          0.0131951
 BB          0.0735156
 SO           0.213949
 O            0.498586
 Name: 18731, dtype: object,
 'LAN-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 46680  daviswi02    LAN   NL  674.0  0.238872  0.178042  0.035608  0.014837
 46754  halleto01    LAN   NL  520.0  0.259615  0.190385  0.051923  0.009615
 47010  parkewe01    LAN   NL  517.0  0.216634  0.164410  0.042553  0.003868
 46704  fairlro01    LAN   NL  482.0  0.213693  0.172199  0.031120  0.002075
 47036  popovpa01    LAN   NL  447.0  0.217002  0.192394  0.017897  0.002237
 47186  versazo01    LAN   NL  429.0  0.184149  0.135198  0.037296  0.006993
 46550  bailebo01    LAN   NL  360.0  0.202778  0.147222  0.025000  0.008333
 46728  gabrile02    LAN   NL  336.0  0.244048  0.163690  0.047619  0.002976
 47122  singebi01    LAN   NL   85.0  0.141176  0.058824  0.082353  0.000000

              HR        BB        SO         O
 46680  0.010386  0.045994  0.130564  0.584570
 46754  0.007692  0.088462  0.146154  0.505769
 47010  0.005803  0.094778  0.168279  0.520309
 46704  0.008299  0.085062  0.126556  0.574689
 47036  0.004474  0.064877  0.082774  0.635347
 47186  0.004662  0.060606  0.195804  0.559441
 46550  0.022222  0.105556  0.191667  0.500000
 46728  0.029762  0.095238  0.139881  0.520833
 47122  0.000000  0.047059  0.352941  0.458824  ,
 'OAK-pitcher': playerID    hunteca01
 teamID            OAK
 lgID               AL
 BFP               968
 H            0.216942
 HR          0.0299587
 BB           0.071281
 SO           0.177686
 O            0.534091
 Name: 18591, dtype: object,
 'OAK-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 46617  campabe01    OAK   AL  692.0  0.255780  0.200867  0.036127  0.013006
 46554  bandosa01    OAK   AL  656.0  0.231707  0.172256  0.038110  0.007622
 46821  jacksre01    OAK   AL  603.0  0.228856  0.149254  0.021559  0.009950
 46966  mondari01    OAK   AL  554.0  0.238267  0.167870  0.043321  0.012635
 46631  caterda01    OAK   AL  539.0  0.270872  0.202226  0.051948  0.005566
 46686  donaljo01    OAK   AL  408.0  0.196078  0.164216  0.022059  0.004902
 46691  duncada01    OAK   AL  271.0  0.173432  0.132841  0.014760  0.000000
 46790  hershmi01    OAK   AL  267.0  0.250936  0.191011  0.033708  0.007491
 46816  hunteca01    OAK   AL   82.0  0.231707  0.182927  0.036585  0.000000

              HR        BB        SO         O
 46617  0.005780  0.072254  0.099711  0.572254
 46554  0.013720  0.077744  0.118902  0.571646
 46821  0.048093  0.082919  0.283582  0.404643
 46966  0.014440  0.129964  0.258123  0.373646
 46631  0.011132  0.064935  0.079777  0.584416
 46686  0.004902  0.110294  0.107843  0.585784
 46691  0.025830  0.092251  0.250923  0.483395
 46790  0.018727  0.078652  0.082397  0.588015
 46816  0.012195  0.000000  0.231707  0.536585  ,
 'WS2-pitcher': playerID    colemjo05
 teamID            WS2
 lgID               AL
 BFP               929
 H            0.228202
 HR          0.0204521
 BB          0.0548977
 SO           0.149623
 O            0.567277
 Name: 18520, dtype: object,
 'WS2-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 47178  unserde01    WS2   AL  681.0  0.214391  0.183554  0.019090  0.010279
 46810  howarfr01    WS2   AL  652.0  0.251534  0.136503  0.042945  0.004601
 46945  mcmulke01    WS2   AL  620.0  0.222581  0.169355  0.017742  0.003226
 46699  epstemi01    WS2   AL  433.0  0.207852  0.154734  0.018476  0.004619
 46530  allenbe01    WS2   AL  401.0  0.224439  0.169576  0.029925  0.009975
 46629  casanpa01    WS2   AL  329.0  0.191489  0.161094  0.018237  0.000000
 47147  stroued01    WS2   AL  326.0  0.223926  0.150307  0.030675  0.030675
 46763  hansero02    WS2   AL  310.0  0.164516  0.100000  0.038710  0.000000
 46653  colemjo05    WS2   AL   72.0  0.125000  0.097222  0.027778  0.000000

              HR        BB        SO         O
 47178  0.001468  0.067548  0.096916  0.621145
 46810  0.067485  0.082822  0.216258  0.449387
 46945  0.032258  0.101613  0.106452  0.569355
 46699  0.030023  0.110855  0.210162  0.471132
 46530  0.014963  0.069825  0.087282  0.618454
 46629  0.012158  0.021277  0.158055  0.629179
 47147  0.012270  0.061350  0.153374  0.561350
 46763  0.025806  0.112903  0.158065  0.564516
 46653  0.000000  0.027778  0.305556  0.541667  ,
 'PHI-pitcher': playerID    shortch02
 teamID            PHI
 lgID               NL
 BFP              1103
 H            0.213962
 HR          0.0226655
 BB          0.0734361
 SO           0.183137
 O            0.529465
 Name: 18729, dtype: object,
 'PHI-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 47074  rojasco01    PHI   NL  637.0  0.226060  0.182104  0.029827  0.000000
 46531  allendi01    PHI   NL  595.0  0.230252  0.131092  0.028571  0.015126
 47160  tayloto02    PHI   NL  586.0  0.233788  0.191126  0.034130  0.003413
 47017   penaro01    PHI   NL  534.0  0.243446  0.213483  0.024345  0.003745
 46741  gonzato01    PHI   NL  456.0  0.241228  0.197368  0.028509  0.008772
 46616  callijo01    PHI   NL  440.0  0.220455  0.138636  0.040909  0.009091
 47207  whitebi03    PHI   NL  424.0  0.216981  0.153302  0.037736  0.004717
 46596  briggjo02    PHI   NL  396.0  0.217172  0.164141  0.032828  0.002525
 47115  shortch02    PHI   NL   81.0  0.148148  0.135802  0.012346  0.000000

              HR        BB        SO         O
 47074  0.014129  0.025118  0.086342  0.662480
 46531  0.055462  0.124370  0.270588  0.374790
 47160  0.005119  0.066553  0.102389  0.597270
 47017  0.001873  0.063670  0.117978  0.574906
 46741  0.006579  0.087719  0.092105  0.578947
 46616  0.031818  0.095455  0.159091  0.525000
 47207  0.021226  0.091981  0.186321  0.504717
 46596  0.017677  0.146465  0.181818  0.454545
 47115  0.000000  0.024691  0.222222  0.604938  ,
 'PIT-pitcher': playerID    vealebo01
 teamID            PIT
 lgID               NL
 BFP               997
 H            0.187563
 HR          0.0130391
 BB          0.0942828
 SO           0.171515
 O             0.54664
 Name: 18755, dtype: object,
 'PIT-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 47217  willsma01    PIT   NL  672.0  0.258929  0.232143  0.017857  0.008929
 46645  clenddo01    PIT   NL  631.0  0.237718  0.169572  0.031696  0.009509
 46538   alouma01    PIT   NL  585.0  0.316239  0.261538  0.047863  0.006838
 46644  clemero01    PIT   NL  553.0  0.264014  0.177215  0.032550  0.021700
 46925  mazerbi01    PIT   NL  544.0  0.233456  0.191176  0.033088  0.003676
 46533  alleyge01    PIT   NL  513.0  0.226121  0.175439  0.038986  0.003899
 47139  stargwi01    PIT   NL  482.0  0.213693  0.130705  0.031120  0.002075
 46922    mayje01    PIT   NL  457.0  0.199125  0.159737  0.032823  0.004376
 47184  vealebo01    PIT   NL   84.0  0.107143  0.095238  0.011905  0.000000

              HR        BB        SO         O
 47217  0.000000  0.066964  0.084821  0.589286
 46645  0.026941  0.074485  0.258320  0.429477
 46538  0.000000  0.046154  0.044444  0.593162
 46644  0.032550  0.092224  0.139241  0.504521
 46925  0.005515  0.069853  0.069853  0.626838
 46533  0.007797  0.076023  0.152047  0.545809
 47139  0.049793  0.097510  0.217842  0.470954
 46922  0.002188  0.089716  0.175055  0.536105
 47184  0.000000  0.023810  0.630952  0.238095  ,
 'MIN-pitcher': playerID    chancde01
 teamID            MIN
 lgID               AL
 BFP              1161
 H            0.192937
 HR          0.0129199
 BB          0.0542636
 SO            0.20155
 O            0.551249
 Name: 18514, dtype: object,
 'MIN-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 47172  tovarce01    MIN   AL  647.0  0.258114  0.191654  0.047913  0.009274
 46534  allisbo01    MIN   AL  521.0  0.222649  0.134357  0.030710  0.015355
 47177  uhlaete01    MIN   AL  516.0  0.267442  0.203488  0.040698  0.009690
 46997  olivato01    MIN   AL  515.0  0.264078  0.172816  0.046602  0.009709
 46624  carewro01    MIN   AL  487.0  0.258727  0.197125  0.055441  0.004107
 47082  rosebjo01    MIN   AL  426.0  0.192488  0.145540  0.028169  0.000000
 46862  killeha01    MIN   AL  365.0  0.169863  0.098630  0.019178  0.005479
 47049  reeseri01    MIN   AL  350.0  0.245714  0.185714  0.042857  0.005714
 46636  chancde01    MIN   AL   96.0  0.052083  0.052083  0.000000  0.000000

              HR        BB        SO         O
 47172  0.009274  0.052550  0.063369  0.625966
 46534  0.042226  0.099808  0.188100  0.489443
 47177  0.013566  0.054264  0.089147  0.589147
 46997  0.034951  0.087379  0.118447  0.530097
 46624  0.002053  0.053388  0.145791  0.542094
 47082  0.018779  0.107981  0.133803  0.565728
 46862  0.046575  0.191781  0.191781  0.446575
 47049  0.011429  0.051429  0.102857  0.600000
 46636  0.000000  0.031250  0.656250  0.260417  ,
 'CHA-pitcher': playerID    horlejo01
 teamID            CHA
 lgID               AL
 BFP               928
 H            0.212284
 HR          0.0172414
 BB           0.075431
 SO           0.109914
 O            0.602371
 Name: 18585, dtype: object,
 'CHA-batters':         playerID teamID lgID     PA         H        1B        2B        3B  \
 46544  aparilu01    CHA   AL  655.0  0.250382  0.201527  0.036641  0.006107
 46567  berryke01    CHA   AL  529.0  0.240076  0.183365  0.039698  0.003781
 46933  mccrato01    CHA   AL  513.0  0.218324  0.146199  0.031189  0.023392
 47196   wardpe01    CHA   AL  475.0  0.181053  0.117895  0.031579  0.000000
 46679  davisto02    CHA   AL  472.0  0.258475  0.224576  0.010593  0.006356
 46848  josepdu01    CHA   AL  452.0  0.236726  0.174779  0.035398  0.013274
 46535  alomasa01    CHA   AL  383.0  0.240209  0.214099  0.020888  0.005222
 46592  bradfbu01    CHA   AL  304.0  0.200658  0.148026  0.036184  0.000000
 46803  horlejo01    CHA   AL   70.0  0.100000  0.085714  0.000000  0.014286

              HR        BB        SO         O
 46544  0.006107  0.050382  0.065649  0.633588
 46567  0.013233  0.047259  0.120983  0.591682
 46933  0.017544  0.070175  0.113060  0.598441
 47196  0.031579  0.160000  0.178947  0.480000
 46679  0.016949  0.033898  0.101695  0.605932
 46848  0.013274  0.039823  0.115044  0.608407
 46535  0.000000  0.052219  0.109661  0.597911
 46592  0.016447  0.075658  0.220395  0.503289
 46803  0.000000  0.042857  0.185714  0.671429  ,
 'SFN-pitcher': playerID    maricju01
 teamID            SFN
 lgID               NL
 BFP              1307
 H            0.225708
 HR          0.0160673
 BB          0.0351951
 SO           0.166794
 O            0.572303
 Name: 18632, dtype: object,

In [10]:
# example of batter data for the Cubs
teams['CHN-batters']

,playerID,teamID,lgID,PA,H,1B,2B,3B,HR,BB,SO,O
46860,kessido01,CHN,NL,693.0,0.226551,0.194805,0.020202,0.010101,0.001443,0.054834,0.124098,0.594517
47213,willibi01,CHN,NL,690.0,0.268116,0.169565,0.043478,0.011594,0.043478,0.069565,0.076812,0.585507
46560,beckegl01,CHN,NL,674.0,0.280415,0.227003,0.041543,0.005935,0.005935,0.045994,0.029674,0.643917
47094,santoro01,CHN,NL,673.0,0.210996,0.142645,0.025260,0.004458,0.038633,0.142645,0.157504,0.488856
46815,hundlra01,CHN,NL,592.0,0.211149,0.162162,0.030405,0.006757,0.011824,0.065878,0.116554,0.606419
46555,bankser01,CHN,NL,579.0,0.234888,0.132988,0.046632,0.000000,0.055268,0.046632,0.115717,0.602763
47027,phillad01,CHN,NL,486.0,0.218107,0.139918,0.041152,0.010288,0.026749,0.096708,0.185185,0.500000
46839,johnslo01,CHN,NL,211.0,0.236967,0.151659,0.066351,0.014218,0.004739,0.028436,0.109005,0.625592
46828,jenkife01,CHN,NL,106.0,0.150943,0.103774,0.037736,0.000000,0.009434,0.056604,0.386792,0.405660

In [11]:
# example of pitcher data for the Cubs
teams['CHN-pitcher']

playerID    jenkife01
teamID            CHN
lgID               NL
BFP              1231
H            0.207149
HR           0.021121
BB          0.0528026
SO            0.21121
O            0.528838
Name: 18598, dtype: object

In [12]:
# function to build a list of odds into a list of brackets
def sumOdds(odds):
    for i in range(1, len(odds)):
        odds[i] += odds[i-1]
    return odds

In [13]:
# object to track and manage which bases are occupied
class Bases:
    def __init__(self):
        self.bases = [False, False, False, False]
        self.runs = 0
        
    def __repr__(self):
        bases = ''
        for b in range(1, 4):
            if self.bases[b]:
                bases += ' ' + str(b)
        return str(self.runs) + ' scored with men on' + bases
        
    def play(self, earned):
        log('Bases:', earned)
        if earned > 0:
            for b in range(len(self.bases)-1, 0, -1):
                if self.bases[b]:
                    reached = b + earned
                    self.bases[b] = False
                    if reached >= 4:
                        self.runs += 1
                    else:
                        self.bases[reached] = True
            if earned == 4:
                self.runs += 1
            else:
                self.bases[earned] = True

In [14]:
# process a single at bat of a pitcher vs a batter
def runAtBat(batter, pitcher):
    log('Batting:', batter['playerID'])
    odds = sumOdds([mean([batter['1B'], pitcher['H']/4]), mean([batter['2B'], pitcher['H']/4]), 
                    mean([batter['3B'], pitcher['H']/4]), mean([batter['HR'], pitcher['HR']]), 
                    mean([batter['BB'], pitcher['BB']]), mean([batter['SO'], pitcher['SO']])])
    log(odds)
    play = rd.random()
    if play <= odds[0]:
        log('Single')
        return 1, 0
    elif play <= odds[1]:
        log('Double')
        return 2, 0
    elif play <= odds[2]:
        log('Triple')
        return 3, 0
    elif play <= odds[3]:
        log('Home Run')
        return 4, 0
    elif play <= odds[4]:
        log('Base on Balls')
        return 1, 0
    elif play <= odds[5]:
        log('Strike Out')
        return 0, 1
    log('Out')
    return 0, 1

In [15]:
# run a single side of an inning (3 outs)
def runInning(offTeam, defTeam, leadOff):
    lineup = teams[offTeam + '-batters']
    pitcher = teams[defTeam + '-pitcher']
    bnum = leadOff
    outs = 0
    bases = Bases()
    while outs < 3:
        batter = lineup.iloc[bnum]
        b, o = runAtBat(batter, pitcher)
        bases.play(b)
        outs += o
        bnum += 1
        log(bases)
        if bnum >= 9:
            bnum = 0
    return bases.runs, bnum

In [16]:
# run a single game, a home team against a visitor
def runGame(homeTeam, awayTeam):
    home = 0
    away = 0
    inning = 1
    homeNext = 0
    awayNext = 0
    while inning <= 9 or home == away:
        log('---')
        log('Top', inning)
        r, n = runInning(awayTeam, homeTeam, awayNext)
        away += r
        awayNext = n
        log('---')
        log('Bottom', inning)
        r, n = runInning(homeTeam, awayTeam, homeNext)
        home += r
        homeNext = n
        inning += 1
    winner = 'HOME'
    if home < away:
        winner = 'AWAY'
    return home, away, winner

In [17]:
# play a series of games between 2 teams
def runSeries(home, away, games, seriesLen):
    for i in range(seriesLen):
        log(away, '@', home, '#' + str(i+1))
        games['homeTeam'].append(home)
        games['awayTeam'].append(away)
        h, a, w = runGame(home, away)
        games['homeScore'].append(h)
        games['awayScore'].append(a)
        games['winner'].append(w)
        log('Final:', h, a)
        log('')

In [18]:
# process a while league of teams, assuming a certain amount of home games against each team in the league
def runLeague(teams, seriesLen):
    games = {'homeTeam': [], 'awayTeam': [], 'homeScore': [], 'awayScore': [], 'winner': []}
    for home in teams:
        for away in teams:
            if home != away:
                runSeries(home, away, games, seriesLen)
    return pd.DataFrame(data=games)

In [19]:
# process a while league of teams, assuming a certain amount of home games against each team in the league
def runPlayoff(teamA, teamB):
    games = {'homeTeam': [], 'awayTeam': [], 'homeScore': [], 'awayScore': [], 'winner': []}
    teams = pd.concat([teamA, teamB], axis=1).T.sort_values(by=['wins', 'homeWins', 'awayWins', 'team'], ascending=False)
    teamA = teams['team'].iloc[0]
    teamB = teams['team'].iloc[1]
    runSeries(teamA, teamB, games, 4)
    runSeries(teamB, teamA, games, 3)
    return pd.DataFrame(data=games)

In [20]:
# generate a leaderboard for a given set of teams
def standings(league):
    board = {'team': [], 'wins': [], 'losses': [], 'homeWins': [], 'homeLosses': [], 'awayWins': [], 'awayLosses': []}
    for team in league['homeTeam'].unique():
        homeGames = league[league['homeTeam'] == team]
        homeWins = len(homeGames[homeGames['winner'] == 'HOME'].index)
        awayGames = league[league['awayTeam'] == team]
        awayWins = len(awayGames[awayGames['winner'] == 'AWAY'].index)
        totalGames = len(homeGames.index) + len(awayGames.index)
        board['team'].append(team)
        board['wins'].append(homeWins + awayWins)
        board['losses'].append(totalGames - (homeWins + awayWins))
        board['homeWins'].append(homeWins)
        board['homeLosses'].append(len(homeGames.index) - homeWins)
        board['awayWins'].append(awayWins)
        board['awayLosses'].append(len(awayGames.index) - awayWins)
    return pd.DataFrame(data=board).sort_values(by=['wins', 'homeWins', 'awayWins', 'team'], ascending=False)

In [21]:
# returns the best team in a standings 
def getWinner(standings):
    return standings.iloc[0]

In [22]:
# process the national and american leagues independently
national = runLeague(b.loc[b['lgID'] == 'NL']['teamID'].unique(), 9)
american = runLeague(b.loc[b['lgID'] == 'AL']['teamID'].unique(), 9)

In [23]:
# national league standings
nlstand = standings(national)
nlstand

  team  wins  losses  homeWins  homeLosses  awayWins  awayLosses
9  SLN   108      54        50          31        58          23
3  NYN    88      74        43          38        45          36
7  SFN    87      75        46          35        41          40
8  CHN    81      81        49          32        32          49
1  CIN    81      81        42          39        39          42
2  HOU    81      81        39          42        42          39
6  PIT    79      83        35          46        44          37
0  ATL    71      91        37          44        34          47
4  LAN    69      93        31          50        38          43
5  PHI    65      97        33          48        32          49

In [24]:
# american league standings
alstand = standings(american)
alstand

  team  wins  losses  homeWins  homeLosses  awayWins  awayLosses
9  DET   103      59        54          27        49          32
1  BAL    93      69        42          39        51          30
4  MIN    90      72        47          34        43          38
6  CLE    88      74        40          41        48          33
0  BOS    79      83        36          45        43          38
8  CAL    77      85        34          47        43          38
7  NYA    75      87        39          42        36          45
2  OAK    75      87        33          48        42          39
3  WS2    66      96        36          45        30          51
5  CHA    64      98        38          43        26          55

In [25]:
# simulate a world series
ws = runPlayoff(getWinner(nlstand), getWinner(alstand))
worldstand = standings(ws)
worldstand

  team  wins  losses  homeWins  homeLosses  awayWins  awayLosses
1  DET     5       2         2           1         3           1
0  SLN     2       5         1           3         1           2

In [26]:
# display world champion
getWinner(worldstand)['team']

'DET'